NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_SECRET=
NEXT_PUBLIC_SUPABASE_URL=https://djizuhduzkyumipjmpys.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
RELAYER_PRIVATE_KEY=
ARB_SEPOLIA_RPC_URL=
ROBINHOOD_RPC_URL=
QUICKNODE_WEBHOOK_SECRET=
GMAIL_USER=
GMAIL_APP_PASSWORD=
APP_URL=http://localhost:3000
